

/* google font oswald  */
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

.logo{
    width: 70px;
}

b.logo_text{
    font-size: 18px;
    font-family: "Oswald", serif;
    font-weight: 500;
}